function Square.new 4
function Square.dispose 1
function Square.draw 1
function Square.erase 1
function Square.incSize 1
function Square.decSize 1
function Square.moveUp 1
function Square.moveDown 1
function Square.moveLeft 1
function Square.moveRight 1
